body{padding: 0; margin:0; font-family: 'Noto Sans KR', sans-serif;
}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;}
header, main, footer, section, article, aside, nav {display:block;}
a {text-decoration: none; color: inherit;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
* {box-sizing: border-box;}

.top-nav{width:100%; height:60px; background-color:#38b5f7; color:white; }
.nav-inside {max-width:1100px; height:60px; margin:0 auto; vertical-align: middle;}
.nav {width:auto; height:60px; background-color:#38b5f7; color:white; float:right;}
.main_left {}
.profile_preview {margin-top:40px; padding:10px 10px 10px 10px; height:90px; border-radius:10px; background-color:#46acd4;}
.profile_preview p {color:white;}
 ul.menu_left {padding-top:40px;}
 ul.menu_left > li {height:40px; border-bottom: 1px solid #f1f2f2;}
 ul.menu_right {padding-top:40px;}
 ul.menu_right > li {height:40px; border-bottom: 1px solid #f1f2f2;}

 .content{max-width:1100px; clear:both; margin:0 auto;}
 .main-card {width:100%; height:auto; margin:0 auto;}
 .main-card-detail{background-color:#f8f8f8; overflow:hidden;}
 .img-inside {max-width:400px; height:auto; display:block; margin:0 auto; }
 .load-more-wrap {width:200px; margin:0 auto;}
 .load-more { padding: 10px;
    width:200px;
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;}
 .footer{width:100%; height:50px; background-color:#231f20; margin-top:40px;}
 .footer h3{color:white; font-size: 12px; text-align: center; line-height:50px;}

 .img-users {
   border-radius:50%;
 }
 .img-users {
    width: 80px;
    height: 80px;
 }

 .follow-div {height:80px;}
 .home-img-users {
   width:45px; height:45px;  border-radius:50%;
 }
